body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #36D1DC; 
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.app {
    background: white;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
